.footer
  padding-top: 32px
  padding-bottom: 30px
  background-color: #3d4050
  .flex-wrap
    justify-content: space-between
    @media(max-width: 991px)
      flex-wrap: wrap
.copyright
  font-size: 13px
  color: #ffffff
  @media(max-width: 991px)
    flex: 0 0 100%
    text-align: center
    margin-bottom: 30px
.payments-wrapper
  display: flex
  color: #c3c3c3
  padding-left: 45px
  padding-right: 53px
  height: 18px
  align-items: center
  justify-content: center
  border-left: 1px solid #ffffff
  border-right: 1px solid #ffffff
  @media(max-width: 1199px)
    padding-left: 15px
    padding-right: 15px
  @media(max-width: 991px)
    border-left: 0px
    border-right: 0px
    flex: 0 0 100%
    margin-bottom: 30px
    padding-left: 0
    padding-right: 0
.contacts-wrapper
  display: flex
  color: #fefefe
  @media(max-width: 991px)
    flex: 0 0 100%
    justify-content: center
.contacts-item
  display: flex
  align-items: center
  margin-right: 40px
  font-size: 13px
  @media(max-width: 1199px)
    margin-right: 15px
  .image
    margin-right: 10px
  &:last-child
    margin-right: 0
.payments-item
  display: flex
  align-items: center
  margin-right: 46px
  font-size: 13px
  @media(max-width: 1199px)
    margin-right: 15px
  .image
    margin-right: 10px
  &:last-child
    margin-right: 0