.header
  padding-top: 40px
  padding-bottom: 40px
  background-color: rgba(16, 16, 29, .9)
  .flex-wrap
    justify-content: space-between
    align-items: center
.logo
  &__text
    color: #ffffff
    font-family: 'Raleway' , sans-serif
    font-weight: 900
    font-size: 28px
    text-transform: uppercase
._blue
  color: #42a9ed
.main-menu-wrap
  ul
    display: flex
    li
      margin-right: 58px
      &:last-child
        margin-right: 0
      a
        font-family: "Lato Semibold" , sans-serif
        font-weight: 600
        color: #ffffff
        text-decoration: none
        text-transform: uppercase
        cursor: pointer
        &:hover
          color: #43abf0