.usp-section
  background-image: url("../img/usp-back.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  .usp-inner-container
    padding-top: 131px
    padding-bottom: 122px
    background-image: url("../img/usp-inner-back.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    @media(max-width: 767px)
      padding-top: 44px
      padding-bottom: 355px
      background-image: url("../img/usp-back-mobile.png")
    .usp-inner-wrapper
      text-align: center
      padding-left: 75px
      @media(max-width: 991px)
        padding-left: 0
      .logo-wrap
        margin-bottom: 77px
        @media(max-width: 767px)
          margin-bottom: 44px
      &__head-text
        margin-bottom: 28px
        color: #c9211c
        font-size: 60px
        font-weight: 700
        line-height: 65px
        @media(max-width: 767px)
          font-size: 44px
          line-height: 47px
          margin-bottom: 15px
      &__subhead-text
        margin-bottom: 101px
        color: #000000
        font-size: 25px
        font-weight: 300
        @media(max-width: 767px)
          font-size: 15px
          margin-bottom: 31px
      &__bottom-text
        color: #000000
        font-size: 14px
        font-weight: 400
        margin: 0 auto
        margin-top: 17px
        max-width: 325px
        @media(max-width: 767px)
          font-size: 11px
          margin-top: 13px
