@import "../../node_modules/normalize.css/normalize.css"
@import "header"
@import "fonts"
@import "usp"
*
  outline: none
ul
  margin: 0
  padding-left: 0
  li
    list-style: none
.container
  margin: 0 auto
  @media(min-width: 1200px)
    max-width: 1200px
body
  font-family: 'Lato' , sans-serif
  font-weight: 400
  color: #2a2b30
.mobile-display-none
  @media(max-width: 767px)
    display: none !important
.desktop-display-none
  @media(min-width: 768px)
    display: none !important
.flex-wrap
  display: flex
.list
  margin-bottom: 75px
  li
    font-size: 20px
    margin-bottom: 18px
    &:last-child
      margin-bottom: 0
.btn
  min-width: 183px
  height: 42px
  background-color: #3e9cdc
  font-size: 13px
  color: #ffffff
  text-transform: uppercase
  border: 1px solid #ffffff
  border-radius: 4px
  &_white
    color: #2a2b30
    border: 1px solid #2a2b30
    background-color: #ffffff