@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css"
*
  outline: none

.mobile-display-none
  @media(max-width: 767px)
    display: none !important
.desktop-display-none
  @media(min-width: 768px)
    display: none !important